#
# Main git attributes file
#

# GitHub linguist setting {{{

# Detect all files by default
* linguist-detectable

# The `.github/` directory contains documentation
.github/** linguist-vendored

# The `.local/bin/` ddirectory contains vendor executables
.local/bin/** linguist-vendored

# The `.local/share/` ddirectory contains vendor configs
.local/share/** linguist-vendored

# Report `.editorconfig` as vendored to hide INI as main language.
.editorconfig linguist-vendored

# Don't report repo specific git configurations (not true dotfiles)
.gitattributes linguist-vendored
**/.gitignore  linguist-vendored

# GitHub linguist setting }}}
